
@use './components/mainScreen'
@use './components/banner'
@use './components/aside'
@use './components/mobile'
@use './components/checkbox'
@use './components/buttons'
@use './components/final'

*, *:before, *:after 
  box-sizing: border-box

h1, h2, h3, h4, h5, h6
  margin: 0 

.global__active
  background: #000000
  color: #FFFFFF
  & > svg
    fill: #FFFFFF
body
  font-family: Roboto, sans-serif