@use '../vars'
@use '../mixins'

.aside
  display: grid
  grid-template-columns: 1fr
  grid-gap: 13px
  position: absolute
  top: 0
  left: 0
  bottom: 0
  background: vars.$primary-bg-color
  padding: 72px 48px
  width: 30vw 
  @include mixins.md
    grid-gap: 6px
    padding: 10px 24px
  @include mixins.sm
    width: 50vw
  @include mixins.xs
    width: 100vw

  &__final
    align-content: center
    grid-template-rows: repeat(2, min-content)