.mobile__checkbox
  width: 40px
  height: 40px

.checkbox
  display: block
  position: relative
  padding: 10px
  cursor: pointer
  font-size: 14px
  color: #565656
  user-select: none
  
  &__checkmark
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    width: 40px
    border: 2px solid #000000
    &:after
      content: ""
      display: none
      position: absolute
      width: 8px
      height: 20px
      border: solid #000000
      border-width: 0 2px 2px 0
      transform: translateY(-10%) rotate(45deg)
      &:focus-visible
        outline: 2px solid #FFFFFF

  &__input
    &:checked + .checkbox__checkmark:after 
      display: block
    