@use '../vars'
@use '../mixins'

.mobile 
  background: no-repeat url('../../assets/images/mobile-form-bg.jpg')
  background-size: cover
  background-position: center center
  height: 100vh


  &__wrapper
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: min-content
    grid-gap: 13px
    position: absolute
    top: 0
    left: 0
    bottom: 0
    background: vars.$primary-bg-color
    padding: 72px 48px
    width: 30vw

  &__title
    font-size: 26px
    font-weight: 400

  &__cell
    display: flex
    align-items: center
    justify-content: center
    padding: 12px 30px
    text-align: center
    font-weight: 500
    border: 2px solid #000000
    background: transparent
    user-select: none
    text-transform: uppercase
    &:active
      background: #000000
      color: #FFFFFF
    &_span2
      grid-column: span 2

  &__panel
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 10px
    padding: 20px 0


  &__field
    display: flex
    font-size: 30px
    font-weight: 700
    letter-spacing: -1px
    span
      font-family: 'Roboto Mono', monospace

  &__char
    text-decoration: underline
      

  &__description
    font-size: 14px
    text-align: center

  &__submit
    background: #000000
    color: #FFFFFF
    padding: 12px 50px 
    border: 1px solid #4E4E4E
    @include mixins.sm
      padding: 8px 30px
    &_disable
      background: transparent
      color: #4E4E4E
      pointer-events: none

  &__close
    position: absolute
    top: 20px
    right: 20px
    border: 2px solid #000000
    background: #FFFFFF
    padding: 16px 30px
    svg
      width: 28px
      height: 24px

  &__checkbox-container
    display: grid
    grid-template-columns: min-content 1fr
    grid-gap: 10px

  &__qr
    position: absolute
    bottom: 20px
    right: 20px
    img
      width: 314px
      height: auto 
