@use '../vars'

.mobile 
  background: no-repeat url('../../assets/images/mobile-form-bg.jpg')
  background-size: cover
  background-position: center center
  height: 100vh
  &__wrapper
    position: absolute
    top: 0
    left: 0
    bottom: 0
    background: vars.$primary-bg-color
    padding: 72px 48px
    width: 30vw

  &__title
    font-size: 26px
    font-weight: 400

  &__cell
    padding: 12px 30px
    text-align: center
    border: 2px solid #000000
    user-select: none
    &:hover
      background: #000000
      color: #FFFFFF
    &_span2
      grid-column: span 2
  &__panel
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 10px

